{% extends 'base.html'%}

{% block title %} ICMS | Change password {% endblock title %}

{% block content %}
<div class="col-xs-12 col-sm-9 col-md-6 col-lg-6 col-md-offset-3">
    <div style="border: 2px solid #28a745; padding: 20px; border-radius: 8px; background-color: #f9fff9;">
        <form action="" method="POST" class="form-horizontal" role="form">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            <div class="form-group">
                <h2 style="text-align: center;">Change password</h2>
            </div>
            {{form | crispy}}
            <div class="form-group">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="button" id="back-btn" class="btn btn-warning" onclick="window.history.back();"><i
                        class="glyphicon glyphicon-arrow-left"></i> Back</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}