{% extends 'base.html' %}

{% block title %}
  ICMS | List Device OS
{% endblock %}

{% load static %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form action="{% url 'get_qrcode' %}" method="post" class="form-horizontal" role="form">
          {% csrf_token %}
          {% for field in form %}
            <label class="form-group">{{ field.label }}</label>
            <div class="form-group">
              {{ field }}
              {% if field.errors %}
                <span class="help-block text-danger">{{ field.errors }}</span>
              {% endif %}
            </div>
          {% endfor %}
          <div class="form-group">
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Check QR Code</button>
          </div>
        </form>
      </div>
    </div>
    <div id="qrCodeDiv" class="mt-3" style="display: none;">
      <h3>Your QR Code:</h3>
      <img id="qrImage" src="data:image/png;base64,{{ qr_code }}" alt="QR Code" />
    </div>
  </div>
{% endblock %}
