{% extends 'base.html' %}

{% block title %}
  ICMS | Device Dashboard
{% endblock %}

{% block content %}
  <div class="content">
    <div class="form-group text-center">
      <legend>
        <h3 style="color: #4A4A4A;">FMC CM DASHBOARD</h3>
      </legend>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="panel panel-default" style="border-left: 5px solid #28A745;">
          <div class="panel-heading" style="background-color: #EDEDED;">
            <h4 class="panel-title" style="color: #28A745;"><strong>{{ db_01 }}</strong></h4>
          </div>
          <div class="panel-body">
            <div id="chartContainer-01" style="height: 300px; width: 100%;"></div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="panel panel-default" style="border-left: 5px solid #28A745;">
          <div class="panel-heading" style="background-color: #EDEDED;">
            <h4 class="panel-title" style="color: #28A745;"><strong>{{ db_02 }}</strong></h4>
          </div>
          <div class="panel-body">
            <div id="chartContainer-02" style="height: 300px; width: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/static/cm/dashboard/css/dashboard.css" />
{% endblock %}

{% block js %}
  <script src="/static/core/js/canvas.js"></script>
  <script src="/static/core/js/canvas-export.js"></script>
  <script src="/static/cm/dashboard/fmc/js/dashboard-01.js"></script>
  <script src="/static/cm/dashboard/fmc/js/dashboard-02.js"></script>
{% endblock %}
