{% extends 'base.html' %}
{% block title %}ICMS | List Rules{% endblock title %}
{% block content %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="text-right" style="margin-bottom: 15px;">
        <a href="{% url 'checkpoint_create_task_access_rule' %}" class="btn btn-success"><span
                class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create</a>
    </div>
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="rule-list">
            <li role="presentation">
                <a href="#created" aria-controls="created" role="tab" data-toggle="tab" style="color: blue;">CREATED
                    <span class="badge badge-primary">{{ list_rule_created | length }}</span></a>
            </li>
            <li role="presentation">
                <a href="#processing" aria-controls="processing" role="tab" data-toggle="tab"
                    style="color:fuchsia;">PROCESSING <span class="badge badge-warning">{{ list_rule_process |length}}</span></a>
            </li>
            <li role="presentation">
                <a href="#failed" aria-controls="failed" role="tab" data-toggle="tab" style="color: red;">FAILED <span
                        class="badge badge-danger">{{ list_rule_failed | length }}</span></a>
            </li>
            <li role="presentation">
                <a href="#success" aria-controls="success" role="tab" data-toggle="tab" style="color: green;">SUCCESS
                    <span class="badge badge-success">{{ list_rule_success | length }}</span></a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="created">
                <br>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="list-created-rule-table">
                        <thead>
                            <th>ID</th>
                            <th>Site</th>
                            <th>Policy</th>
                            <th>Gateway</th>
                            <th>RuleName</th>
                            <th>Source</th>
                            <th>Destination</th>
                            <th>Protocol</th>
                            <th>Schedule</th>
                            <th>UserCreated</th>
                            <th>TimeCreated</th>
                            <th>Status</th>
                            <th>Action</th>
                        </thead>
                        <tbody>

                            {% for obj in list_rule_created %}
                            <tr>
                                <td>{{ obj.id }}</td>
                                <td>{{ obj.policy.site.site }}</td>
                                <td>{{ obj.policy }}</td>
                                <td>{{ obj.gateway }}</td>
                                <td>{{ obj.description }}</td>
                                <td>{{ obj.source }}</td>
                                <td>{{ obj.destination }}</td>
                                <td>{{ obj.protocol }}</td>
                                {% if obj.schedule != '' %}
                                <td>{{ obj.schedule }}</td>
                                {% else %}
                                <td>Forever</td>
                                {% endif %}
                                <td>{{ obj.user_created }}</td>
                                <td>{{ obj.time_created|date:'h:iA - d/m/Y' }}</td>
                                {% if obj.status == 'Processing' %}
                                <td style="color: rgb(210, 11, 241)"><strong>{{ obj.status }}</strong></td>
                                {% elif obj.status == 'Success' %}
                                <td style="color: green"><strong>{{ obj.status }}</strong></td>
                                {% elif obj.status == 'Created' %}
                                <td style="color: blue"><strong>{{ obj.status }}</strong></td>
                                {% elif obj.status == 'Install-Only' %}
                                <td style="color: rgb(231, 105, 27)"><strong>{{ obj.status }}</strong></td>
                                {% elif obj.status == 'Failed' %}
                                <td style="color: red"><strong>{{ obj.status }}</strong></td>
                                {% else %}
                                <td><strong>{{ obj.status }}</strong></td>
                                {% endif %}
                                <td>
                                    <a href="/cm/checkpoint/access-rule/update/{{ obj.id }}"><span
                                            class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a>
                                    <a href="/cm/checkpoint/access-rule/detail/{{ obj.id }}"><span
                                            class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                                    <a data-toggle="modal" href='#delete-rule-modal' id="{{ obj.id }}"><span
                                            class="glyphicon glyphicon-trash" aria-hidden="true"
                                            id="{{ obj.id }}"></span></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="processing">
                <br>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="list-process-rule-table">
                        <thead>
                            <th>ID</th>
                            <th>Site</th>
                            <th>Policy</th>
                            <th>Gateway</th>
                            <th>RuleName</th>
                            <th>Source</th>
                            <th>Destination</th>
                            <th>Protocol</th>
                            <th>Schedule</th>
                            <th>UserCreated</th>
                            <th>TimeCreated</th>
                            <th>Status</th>
                            <th>Action</th>
                        </thead>
                        <tbody>

                            {% for obj in list_rule_process %}
                            <tr>
                                <td>{{ obj.id }}</td>
                                <td>{{ obj.policy.site.site }}</td>
                                <td>{{ obj.policy }}</td>
                                <td>{{ obj.gateway }}</td>
                                <td>{{ obj.description }}</td>
                                <td>{{ obj.source }}</td>
                                <td>{{ obj.destination }}</td>
                                <td>{{ obj.protocol }}</td>
                                {% if obj.schedule != '' %}
                                <td>{{ obj.schedule }}</td>
                                {% else %}
                                <td>Forever</td>
                                {% endif %}
                                <td>{{ obj.user_created }}</td>
                                <td>{{ obj.time_created|date:'h:iA - d/m/Y' }}</td>
                                {% if obj.status == 'Processing' %}
                                <td style="color: rgb(210, 11, 241)"><strong>{{ obj.status }}</strong></td>
                                {% elif obj.status == 'Success' %}
                                <td style="color: green"><strong>{{ obj.status }}</strong></td>
                                {% elif obj.status == 'Created' %}
                                <td style="color: blue"><strong>{{ obj.status }}</strong></td>
                                {% elif obj.status == 'Failed' %}
                                <td style="color: red"><strong>{{ obj.status }}</strong></td>
                                {% else %}
                                <td><strong>{{ obj.status }}</strong></td>
                                {% endif %}
                                <td>
                                    <a href="/cm/checkpoint/access-rule/update/{{ obj.id }}"><span
                                            class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a>
                                    <a href="/cm/checkpoint/access-rule/detail/{{ obj.id }}"><span
                                            class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                                    <a data-toggle="modal" href='#delete-rule-modal' id="{{ obj.id }}"><span
                                            class="glyphicon glyphicon-trash" aria-hidden="true"
                                            id="{{ obj.id }}"></span></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="failed">
                <br>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="list-failed-rule-table">
                        <thead>
                            <th>ID</th>
                            <th>Site</th>
                            <th>Policy</th>
                            <th>Gateway</th>
                            <th>RuleName</th>
                            <th>Source</th>
                            <th>Destination</th>
                            <th>Protocol</th>
                            <th>Schedule</th>
                            <th>UserCreated</th>
                            <th>TimeCreated</th>
                            <th>Status</th>
                            <th>Action</th>
                        </thead>
                        <tbody>

                            {% for obj in list_rule_failed %}
                            <tr>
                                <td>{{ obj.id }}</td>
                                <td>{{ obj.policy.site.site }}</td>
                                <td>{{ obj.policy }}</td>
                                <td>{{ obj.gateway }}</td>
                                <td>{{ obj.description }}</td>
                                <td>{{ obj.source }}</td>
                                <td>{{ obj.destination }}</td>
                                <td>{{ obj.protocol }}</td>
                                {% if obj.schedule != '' %}
                                <td>{{ obj.schedule }}</td>
                                {% else %}
                                <td>Forever</td>
                                {% endif %}
                                <td>{{ obj.user_created }}</td>
                                <td>{{ obj.time_created|date:'h:iA - d/m/Y' }}</td>
                                {% if obj.status == 'Processing' %}
                                <td style="color: rgb(210, 11, 241)"><strong>{{ obj.status }}</strong></td>
                                {% elif obj.status == 'Success' %}
                                <td style="color: green"><strong>{{ obj.status }}</strong></td>
                                {% elif obj.status == 'Created' %}
                                <td style="color: blue"><strong>{{ obj.status }}</strong></td>
                                {% elif obj.status == 'Failed' %}
                                <td style="color: red"><strong>{{ obj.status }}</strong></td>
                                {% else %}
                                <td><strong>{{ obj.status }}</strong></td>
                                {% endif %}
                                <td>
                                    <a href="/cm/checkpoint/access-rule/update/{{ obj.id }}"><span
                                            class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a>
                                    <a href="/cm/checkpoint/access-rule/detail/{{ obj.id }}"><span
                                            class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                                    <a data-toggle="modal" href='#delete-rule-modal' id="{{ obj.id }}"><span
                                            class="glyphicon glyphicon-trash" aria-hidden="true"
                                            id="{{ obj.id }}"></span></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="success">
                <br>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="list-success-rule-table">
                        <thead>
                            <th>ID</th>
                            <th>Site</th>
                            <th>Policy</th>
                            <th>Gateway</th>
                            <th>RuleName</th>
                            <th>Source</th>
                            <th>Destination</th>
                            <th>Protocol</th>
                            <th>Schedule</th>
                            <th>UserCreated</th>
                            <th>TimeCreated</th>
                            <th>Status</th>
                            <th>Action</th>
                        </thead>
                        <tbody>

                            {% for obj in list_rule_success %}
                            <tr>
                                <td>{{ obj.id }}</td>
                                <td>{{ obj.policy.site.site }}</td>
                                <td>{{ obj.policy }}</td>
                                <td>{{ obj.gateway }}</td>
                                <td>{{ obj.description }}</td>
                                <td>{{ obj.source }}</td>
                                <td>{{ obj.destination }}</td>
                                <td>{{ obj.protocol }}</td>
                                {% if obj.schedule != '' %}
                                <td>{{ obj.schedule }}</td>
                                {% else %}
                                <td>Forever</td>
                                {% endif %}
                                <td>{{ obj.user_created }}</td>
                                <td>{{ obj.time_created|date:'h:iA - d/m/Y' }}</td>
                                {% if obj.status == 'Processing' %}
                                <td style="color: rgb(210, 11, 241)"><strong>{{ obj.status }}</strong></td>
                                {% elif obj.status == 'Success' %}
                                <td style="color: green"><strong>{{ obj.status }}</strong></td>
                                {% elif obj.status == 'Created' %}
                                <td style="color: blue"><strong>{{ obj.status }}</strong></td>
                                {% elif obj.status == 'Failed' %}
                                <td style="color: red"><strong>{{ obj.status }}</strong></td>
                                {% else %}
                                <td><strong>{{ obj.status }}</strong></td>
                                {% endif %}
                                <td>
                                    <a href="/cm/checkpoint/access-rule/update/{{ obj.id }}"><span
                                            class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a>
                                    <a href="/cm/checkpoint/access-rule/detail/{{ obj.id }}"><span
                                            class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                                    <a data-toggle="modal" href='#delete-rule-modal' id="{{ obj.id }}"><span
                                            class="glyphicon glyphicon-trash" aria-hidden="true"
                                            id="{{ obj.id }}"></span></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="delete-rule-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action method="post" id='delete-rule-from'>
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete Rule</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete this rule?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block css %}
<link rel="stylesheet" href="/static/core/css/jquery-datatable.css">
{% endblock css %}

{% block js %}
<script src="/static/core/js/jquery-datatable.js"></script>
<script src="/static/cm/checkpoint/js/list-rule.js"></script>
<script src="/static/core/js/sweet-alert.js"></script>
{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<script>
    Swal.fire({
        text: "{{ message }}",
        icon: "error"
    });
</script>
{% else %}
<script>
    Swal.fire({
        text: "{{ message }}",
        icon: "success"
    });
</script>
{% endif %}
{% endfor %}
{% endif %}
{% endblock js %}