{% extends 'base.html' %}
{% block title %}ICMS | List F5 Template{% endblock title %}
{% block content %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="table-responsive">
        <table class="table table-hover table-bordered" id="list-template-table">
            <thead>
                <th>Template name</th>
                <th>Action</th>
                </tr>
            </thead>
            <tbody>

                {% for obj in objects %}
                <tr>
                    <td>{{ obj.template_name }}</td>
                    <td>
                        <a href="/cm/f5/template/update/{{ obj.id }}"><span class="glyphicon glyphicon-wrench"
                                aria-hidden="true"></span></a>
                        <a href="/cm/f5/template/detail/{{ obj.id }}"><span
                                class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        <a data-toggle="modal" href='#delete-template-modal' id="{{ obj.id }}"><span
                                class="glyphicon glyphicon-trash" aria-hidden="true" id="{{ obj.id }}"></span></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'f5_create_template' %}"><button type="button" class="btn btn-primary">Create</button></a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="delete-template-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action method="post" id='delete-template-form'>
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete template</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete this template?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}

{% block css %}
<link rel="stylesheet" href="/static/core/css/jquery-datatable.css">
{% endblock css %}

{% block js %}
<script src="/static/core/js/jquery-datatable.js"></script>
<script src="/static/cm/f5/js/list-template.js"></script>
<script src="/static/core/js/sweet-alert.js"></script>
{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<script>
    Swal.fire({
        text: "{{ message }}",
        icon: "error"
    });
</script>
{% else %}
<script>
    Swal.fire({
        text: "{{ message }}",
        icon: "success"
    });
</script>
{% endif %}
{% endfor %}
{% endif %}
{% endblock js %}