{% extends 'base.html' %}
{% block title %}
  {{ banner }}
{% endblock %}
{% block content %}
  <div class="row mb-4 d-flex justify-content-between align-items-center">
    <div class="col-xs-6">
      <legend>
        <h3>{{ banner }}</h3>
      </legend>
    </div>
    <div class="col-xs-6 text-right">
      <a href="{% url 'register' %}" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Register user</a>
    </div>
  </div>
    <div class="table-responsive">
      <table class="table table-hover table-bordered" id="table">
        <thead>
          <th>ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Admin Site</th>
          <th>Admin Role</th>
          <th>Active</th>
        </thead>
        <tbody>
          {% for obj in objects %}
            <tr>
              <td>{{ obj.id }}</td>
              <td>{{ obj.username }}</td>
              <td>{{ obj.email }}</td>
              <td>{{ obj.first_name }}</td>
              <td>{{ obj.last_name }}</td>
              <td>{{ obj.is_staff }}</td>
              <td>{{ obj.is_superuser }}</td>
              <td>{{ obj.is_active }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="/static/accounts/js/common.js"></script>
{% endblock %}
