{% extends 'base.html' %}

{% block title %}
  {{ banner }}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-primary" style="border-color: #28A745;">
      <div class="panel-heading" style="background-color: #28A745; color: white;">
        <h3 class="panel-title"><i class="glyphicon glyphicon-plus"></i> {{ banner }}</h3>
      </div>
      <div class="panel-body">
        <form action="" method="POST" class="form-horizontal" role="form">
          {% csrf_token %}
          <fieldset>
            <div class="row container-fluid">
              <!-- Render the crispy form fields -->
              <div class="col-md-6">{{ form|crispy }}</div>
            </div>
          </fieldset>
          <!-- Buttons -->
          <div class="form-group">
            <div class="col-sm-8">
              <button type="submit" id="create-btn" class="btn btn-success btn-lg"><i class="glyphicon glyphicon-ok"></i> Create</button>
              <button type="button" id="back-btn" class="btn btn-warning btn-lg" onclick="window.history.back();"><i class="glyphicon glyphicon-arrow-left"></i> Back</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="/static/inventory/js/common.js"></script>
{% endblock %}
