{% extends 'base.html' %}

{% block title %}
  {{ banner }}
{% endblock %}

{% block content %}
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <div class="panel panel-primary" style="border-color: #28A745;">
      <div class="panel-heading" style="background-color: #28A745; color: white;">
        <h3 class="panel-title"><i class="glyphicon glyphicon-plus"></i> {{ banner }}</h3>
      </div>
      <div class="panel-body">
        <form action="{% url 'create_multiple_license' %}" method="POST" class="form-horizontal" role="form" enctype="multipart/form-data">
          {% csrf_token %}

          <fieldset>
            <!-- File Upload Section -->
            <div class="form-group">
              <label for="upload-file" class="col-sm-4 control-label">Upload File</label>
              <div class="col-sm-8">
                <input type="file" name="upload-file" id="upload-file" class="form-control" />
              </div>
            </div>

            <!-- Download Sample Section -->
            <div class="form-group">
              <label class="col-sm-4 control-label">Sample File</label>
              <div class="col-sm-8">
                <a href="/media/inventory/create-multiple-license-example.xlsx" class="btn btn-info"><i class="glyphicon glyphicon-download-alt"></i> Download Sample File</a>
              </div>
            </div>

            <!-- Submit and Back Buttons -->
            <div class="form-group">
              <div class="col-sm-8 col-sm-offset-4">
                <button type="submit" id="upload-file-btn" class="btn btn-primary"><i class="glyphicon glyphicon-upload"></i> Upload</button>
                <button type="button" id="back-btn" class="btn btn-warning" onclick="window.history.back();"><i class="glyphicon glyphicon-arrow-left"></i> Back</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
