{% extends 'base.html' %}

{% block title %}
  {{ banner }}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-primary" style="border-color: #28A745;">
      <div class="panel-heading" style="background-color: #28A745; color: white;">
        <h3 class="panel-title"><i class="glyphicon glyphicon-plus"></i> {{ banner }}</h3>
      </div>
      <div class="panel-body">
        <form action="{% url 'create_sip_provider' %}" method="POST" class="form-horizontal" role="form">
          {% csrf_token %}

          <fieldset>
            <div class="row container-fluid">
              <!-- Signaling Server -->
              <div class="col-md-5">{{ form.signaling_server|as_crispy_field }}</div>
              <!-- Media Server -->
              <div class="col-md-5 col-md-offset-2">{{ form.media_server|as_crispy_field }}</div>
            </div>

            <div class="row container-fluid">
              <!-- Port Signaling -->
              <div class="col-md-5">{{ form.port_signaling|as_crispy_field }}</div>
              <!-- Port Media -->
              <div class="col-md-5 col-md-offset-2">{{ form.port_media|as_crispy_field }}</div>
            </div>
            <div class="row container-fluid">
              <!-- Port Signaling -->
              <div class="col-md-5">{{ form.provider|as_crispy_field }}</div>
              <!-- Port Media -->
              <div class="col-md-5 col-md-offset-2">{{ form.note|as_crispy_field }}</div>
            </div>
          </fieldset>

          <!-- Buttons -->
          <div class="form-group">
            <div class="col-sm-12 text-center">
              <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Create</button>
              <button type="button" id="back-btn" class="btn btn-warning" onclick="window.history.back();"><i class="glyphicon glyphicon-arrow-left"></i> Back</button>
              <a href="{% url 'create_multiple_sip_provider' %}" class="btn btn-info"><i class="glyphicon glyphicon-file"></i> Create from file</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
