{% extends 'base.html' %}

{% block title %}
  {{ banner }}
{% endblock %}

{% block content %}
  <div class="row mb-4 d-flex justify-content-between align-items-center">
    <div class="col-xs-6">
      <legend>
        <h3>{{ banner }}</h3>
      </legend>
    </div>
  </div>
  <form method="get">
    <div class="row">
      <div class="col-md-2 form-group">{{ form.device_os.label_tag }} {{ form.device_os }}</div>
      <div class="col-md-2 form-group">{{ form.device_type.label_tag }} {{ form.device_type }}</div>
      <div class="col-md-2 form-group">{{ form.device_group.label_tag }} {{ form.device_group }}</div>
      <div class="col-md-2 form-group">{{ form.device_branch.label_tag }} {{ form.device_branch }}</div>
      <div class="col-md-2 form-group">{{ form.device_vendor.label_tag }} {{ form.device_vendor }}</div>
      <div class="col-md-2 form-group">{{ form.device_category.label_tag }} {{ form.device_category }}</div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
      </button>
      <a href="{% url 'create_device' %}" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create</a>
    </div>
  </form>
  <div class="table-responsive">
    <table class="table table-hover table-bordered" id="table">
      <thead>
        <th>Name</th>
        <th>IP</th>
        <th>P&L</th>
        <th>Type</th>
        <th>Vendor</th>
        <th>Category</th>
        <th>Device group</th>
        <th>Status</th>
        <th>Action</th>
      </thead>
      <tbody>
        {% for obj in devices %}
          <tr>
            <td>{{ obj.device_name }}</td>
            <td>{{ obj.device_ip }}</td>
            <td>{{ obj.device_province }}</td>
            <td>{{ obj.device_type }}</td>
            <td>{{ obj.device_vendor }}</td>
            <td>{{ obj.device_category }}</td>
            <td>{{ obj.device_group }}</td>
            <td>{{ obj.device_status }}</td>
            <td>
              <a href="{% url 'update_device' obj.id %}?next={{ request.get_full_path }}"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a>
              <a data-toggle="modal" href="#delete-modal" id="{{ obj.id }}"><span class="glyphicon glyphicon-trash" aria-hidden="true" id="{{ obj.id }}"></span></a>
              <a href="{% url 'detail_device' obj.id %}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="delete-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action method="post" id="delete-form">
          {% csrf_token %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Delete Device</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure to delete this device?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="/static/inventory/js/common.js"></script>
  <script src="/static/inventory/js/list-device.js"></script>
{% endblock %}
