{% extends 'base.html' %}

{% block title %} ICMS | Create Rules {% endblock title %}

{% block content %}
<h2 class="form-group">Create access rule</h2>
<div class="form-group" id="dataTable"></div>
<button class="btn btn-primary" id="add">Add rule</button>
<button class="btn btn-success" id="submit">Create</button>
{% endblock content %}


{% block css %}
<link rel="stylesheet" href="/static/core/css/handson-table-full.css">
<link rel="stylesheet" href="/static/core/css/chosen.css">
{% endblock css %}

{% block js %}
<script src="/static/core/js/handson-table-full.js"></script>
<script src="/static/core/js/chosen.js"></script>
<script src="/static/core/js/handsontable-chosen-editor.js"></script>
<script src="/static/core/js/sweet-alert.js"></script>
<script src="/static/cm/fmc/js/create-access-rule.js"></script>
{% endblock js %}