{% extends 'base.html' %}

{% block title %}ICMS | Detail Rules{% endblock title %}

{% block content %}

<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Item</th>
                <th>Detail information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Site name</td>
                <td>{{ object.policy.site.site }}</td>
            </tr>
            <tr>
                <td>Policy template name</td>
                <td>{{ object.policy }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ object.description }}</td>
            </tr>
            <tr>
                <td>Source</td>
                <td>{{ object.source }}</td>
            </tr>
            <tr>
                <td>Destination</td>
                <td>{{ object.destination }}</td>
            </tr>
            <tr>
                <td>Protocol</td>
                <td>{{ object.protocol }}</td>
            </tr>
            <tr>
                <td>Schedule</td>
                <td>{{ object.schedule }}</td>
            </tr>
            <tr>
                <td>Section</td>
                <td>{{ object.section }}</td>
            </tr>
            <tr>
                <td>User created</td>
                <td>{{ object.user_created }}</td>
            </tr>
                <td>Time created</td>
                <td>{{ object.time_created }}</td>
            </tr>
            <tr>
                <td>status</td>
                <td>{{ object.status }}</td>
            </tr>
            <tr>
                <td>Message</td>
                <td>{{ object.message }}</td>
            </tr>
        </tbody>
    </table>
</div>

<a href="/cm/fmc/access-rule/list"><button
        type="button"
        class="btn btn-warning">Back</button></a>

{% endblock content %}
