{% extends 'base.html' %}

{% block title %}
ICMS | Create IP subnet
{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="form-group">
        <legend>Create IP subnet</legend>
    </div>
    <form action method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form | crispy }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
        <div class="form-group">
            <a href="/ipplan/create-multiple-subnet">Create subnet from file</a>
          </div>
    </form>
</div>

{% endblock content %}

{% block css %}
  <link rel="stylesheet" href="/static/core/css/selectize.css">
{% endblock css %}


{% block js %}
  <script src="/static/core/js/selectize.js"></script>
  <script src="/static/ipplan/js/create-subnet.js"></script>
{% endblock js %}
  
