{% extends 'base.html' %}

{% block title %}
ICMS | List subnet
{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div class="form-group">
    <legend>List subnet (Tree view)</legend>
    <ul class="tree">
        {% for region in regions %}
        <li>
            {{ region }}
            <ul>
                {% for location in locations %}
                {% if location.region == region %}
                <li>
                    {{ location }}
                    <ul>
                        {% for group in groups %}
                        {% if group.location == location %}
                        <li>
                            {{ group }} ({{ group.group_subnet }})
                            <ul>
                                {% for subnet in subnets %}
                                {% if subnet.group == group %}
                                <li>
                                    <a href="/ipplan/list-ip/{{subnet.id}}">{{ subnet }} - {{subnet.name}}</a>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    <a href="/ipplan/list-subnet"><button type="button" class="btn btn-warning">Back</button></a>
</div>
{% endblock content %}

{% block css %}
<link rel="stylesheet" href="/static/ipplan/css/jquery.treemenu.css">
<link rel="stylesheet" href="/static/ipplan/css/list-subnet-tree.css">
{% endblock css %}


{% block js %}
<script src="/static/ipplan/js/jquery.treemenu.js"></script>
<script src="/static/ipplan/js/list-subnet-tree.js"></script>
{% endblock js %}