{% extends 'base.html' %}
{% block title %}
  ICMS | List virtual server permission
{% endblock %}
{% block content %}
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <legend>List virtual server permission</legend>
    <div class="table-responsive">
      <table class="table table-hover table-bordered" id="list-permission-table">
        <thead>
          <th>F5 Device IP</th>
          <th>Virtual server name</th>
          <th>Virtual server IP</th>
          <th>Virtual server port</th>
          <th>Permission</th>
          <th>Action</th>
        </thead>
        <tbody>
          {% for obj in objects %}
            <tr>
              <td>{{ obj.f5_device_ip }}</td>
              <td>{{ obj.vs_name }}</td>
              <td>{{ obj.vs_ip }}</td>
              <td>{{ obj.vs_port }}</td>
              <td>
                {% for group in obj.group_permission.all %}
                  <span class="badge text-bg-primary">{{ group }}</span>
                {% endfor %}
              </td>
              <td>
                <a href="{% url 'f5_update_permission' obj.id %}"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/static/core/css/jquery-datatable.css" />
{% endblock %}

{% block js %}
  <script src="/static/core/js/jquery-datatable.js"></script>
  <script src="/static/cm/f5/js/list-permission.js"></script>
  <script src="/static/core/js/sweet-alert.js"></script>
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
        <script>
          Swal.fire({
            text: '{{ message }}',
            icon: 'error'
          })
        </script>
      {% else %}
        <script>
          Swal.fire({
            text: '{{ message }}',
            icon: 'success'
          })
        </script>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
