{% extends 'base.html' %}
{% block title %}ICMS | List local user{% endblock title %}
{% block content %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="table-responsive">
        <div class="text-right" style="margin-bottom: 15px;">
            <a href="{% url 'checkpoint_create_task_local_user_v1' %}" class="btn btn-success"><span
                    class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create</a>
        </div>
        <table class="table table-hover table-bordered" id="list-local-user-table">
            <thead>
                <th>UserName</th>
                <th>Mail</th>
                <th>PhoneNumber</th>
                <th>ExpirationDate</th>
                <th>UserCreate</th>
                <th>TimeCreate</th>
                <th>Status</th>
                <th>Action</th>
            </thead>
            <tbody>

                {% for obj in objects %}
                <tr>
                    <td>{{ obj.user_name }}</td>
                    <td>{{ obj.email }}</td>
                    <td>{{ obj.phone_number }}</td>
                    <td>{{ obj.expiration_date }}</td>
                    <td>{{ obj.user_created }}</td>
                    <td>{{ obj.time_created|date:'h:iA - d/m/Y' }}</td>
                    <td>
                        {% if obj.status == 'Success' %}
                        <span class="label label-success">Success</span>
                        {% elif obj.status == 'Processing' %}
                        <span class="label label-warning">Processing</span>
                        {% elif obj.status == 'Failed' %}
                        <span class="label label-danger">Failed</span>
                        {% else %}
                        <span class="label label-default">{{ obj.status }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="/cm/checkpoint/local-user/update/{{ obj.id }}"><span class="glyphicon glyphicon-wrench"
                                aria-hidden="true"></span></a>
                        <a data-toggle="modal" href='#delete-local-user-modal' id="{{ obj.id }}"><span
                                class="glyphicon glyphicon-trash" aria-hidden="true" id="{{ obj.id }}"></span></a>
                        <a href="{% url 'checkpoint_detail_local_user' obj.id %}"><span
                                class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="delete-local-user-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action method="post" id='delete-local-user-from'>
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete local user</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure to delete this local user?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}

{% block css %}
<link rel="stylesheet" href="/static/core/css/jquery-datatable.css">
{% endblock css %}

{% block js %}
<script src="/static/core/js/jquery-datatable.js"></script>
<script src="/static/cm/checkpoint/js/list-local-user.js"></script>
{% endblock js %}